@use 'variables' as *;
@use 'mixins' as *;
@use 'extend' as *;

.cta {
    background-color: $color-purpura-2;
    padding: 90px 20px;
    text-align: center;

    &__contenido {
        max-width: 700px;
        margin: 0 auto;
    
        h2 {
            @extend %titulo-seccion;
            margin: 0 0 30px;

            &::after {
                content: "";
                display: block;
                width: 200px;
                height: 3px;
                margin: 20px auto 0;
                background-color: $color-violeta;
            }
        }
        
        p {
            margin: 0 0 30px;
            color: rgba(255,255,255,0.75);
            font-size: 1.2rem;
            line-height: 1.7;
        }
    }

    &__boton {
            @include boton-principal;

        }
}

.cta--secundario {
    background-color: $color-negro;

    .cta__contenido {
        max-width: 900px;
        padding: 60px 30px;
        background-color: $color-purpura-2;
        border-radius: 8px;
    }   
}
