@use 'variables' as *;
@use 'mixins' as *;

.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    &__image {
        position: absolute;
        inset: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
/*
        background: linear-gradient(
            90deg,
            rgba(13,13,13,0.90) 0%,
            rgba(13,13,13,0.65) 35%,
            rgba(13,13,13,0.25) 70%,
            rgba(13,13,13,0.10) 100%,
        );
*/        
        background: linear-gradient(
            90deg,
            rgba(13,13,13,1) 0%,
            rgba(13,13,13,0.80) 50%,
            rgba(13,13,13,0.60) 60%,
            rgba(13,13,13,0.55) 100%
        );

    }

    .navbar {
        position: relative;
        z-index: 3;
    }

    &__content {
        position: relative;
        z-index: 2;

        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        text-align: left;
        padding: 80px 60px 70px;

        h1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            font-family: $fuente-titulos;
            font-size: clamp(3rem, 5.5vw, 5.5rem);
            line-height: 0.95;
            letter-spacing: 1px;

            color: $color-blanco;

            span {
                display: block;

                &:nth-child(2){
                color: $color-violeta;
                }
            }
        }

        p {
            margin: 25px 0 30px;

            font-family: $fuente-textos;
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            line-height: 1.4;

            color: $color-blanco;
        }

        .hero__boton {
            @include boton-principal;
        }
    }
}