@use 'variables' as *;

.nosotros-cta {
    background-color: $color-purpura-2;
    padding: 100px 20px;

    &__contenido {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        margin: 0 0 35px;
        color: $color-blanco;
        font-size: clamp(2rem, 4vw, 3.5rem);
        line-height: 1.1;
        font-weight: 700;

        span {
            color: $color-violeta;
        }
    }

    &__boton {
        display: inline-block;
        padding: 14px 32px;
        background-color: $color-violeta;
        color: $color-blanco;
        text-decoration: none;
        font-weight: 700;
        border-radius: 5px;

        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: $color-verde;
            transform: translateY(-3px);
        }
    }
}