// Colores de marca
$color-violeta: #9955C2;
$color-verde: #1F7F59;

$color-purpura-1: #39223F;
$color-purpura-2: #2A1C33;
$color-purpura-3: #2E2633;

$color-gris: #544C59;
$color-negro: #0D0D0D;
$color-blanco: #FFFFFF;

$color-card: #2E2633;